bookmarkbackups/
browser-extension-data/
cert_override.txt
compatibility.ini
crashes/
datareporting/
enumerate_devices.txt
extensions/
extension-store/
extension-store-menus/
extension-store-userscripts/
features/
gmp/
gmp-gmpopenh264/
gmp-widevinecdm/
lock
minidumps/
.parentlock
personality-provider/
pkcs11.txt
prefs.js
saved-telemetry-pings/
security_state/
serviceworker.txt
sessionstore-backups/
settings/
storage/
Telemetry.FailedProfileLocks.txt
weave/
*.json*
*.sqlite*
*.html*
*.bak
*.db
*.bin
