/*remove some items from the context menu */
#context-pocket, #context-savelinktopocket,
#context-openlinkprivate, 
#context-print-selection, 
#context-sendimage, 
#context-sep-setbackground, #context-setDesktopBackground, 
#context-inspect-a11y,
#context-take-screenshot, #context-sep-screenshots {
	display: none !important;
}
/*move findbar to top right*/
findbar {
	position: absolute;
	top: 3px;
	right: 20px;
	border-radius: 4px;
	border-top: unset !important;

	contain: none !important;
}
/*reverse the items*/
.findbar-container {
	flex-direction: row-reverse;
}
/*removes the margins from the "Reached end of page, continued from top" element when it's empty*/
.findbar-label.findbar-find-status:empty {
	margin: 0 !important;
}
/*disable de menubar*/
#toolbar-menubar {
	visibility: collapse;
}
/*make the background tabs more visible*/
.tabbrowser-tab:not([selected="true"]) .tab-background {
 background-color: rgba(160, 160, 160, 0.1); /*for white theme use 0.3 or 0.4*/
 border: solid 1px rgba(207, 207, 216, 0.1);
}
